<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Site.Params.Description }}">
    <meta name="author" content="{{ .Site.Params.Author }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="shortcut icon" sizes="64x64" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
    <meta name="application-name" content="{{ .Site.Title }}">
    <meta name="theme-color" content="#6ac3b1">
    {{ if isset .Params "title" -}}
      <title>{{ .Title }} - {{ .Site.Title }}</title>
    {{- else -}}
      <title>{{ .Site.Title }}</title>
    {{- end }}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-129445522-1', 'auto');
      ga('send', 'pageview');
    </script>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{{ .Site.BaseURL }}css/styles.css" rel="stylesheet">
    <script src="{{ .Site.BaseURL }}js/main.js"></script>
</head>
<body class="flex col">
  <div class="main">
    {{ partial "nav.html" . }}
    {{- block "main" . }}{{ end -}}
  </div>
  {{ partial "footer.html" . }}
</body>
</html>
