<div class="nav-wrapper floating">
  <nav class="nav">
    <div class="container flex">
      <span class="nav__home cell">
        <a href="{{ .Site.BaseURL }}" class="flex">
          <img src="{{ .Site.BaseURL }}images/{{ .Site.Params.logoURL }}" alt="{{ .Site.Params.logoAlt }}" class="cell-rigid">
          <span class="cell-rigid">{{ .Site.Title }}</span>
        </a>
      </span>
      <ul class="nav__pages cell-rigid flex">
        {{ $currentPage := . -}}
        {{- range .Site.Menus.main }}
          <li class="nav__pages__item{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{ end }}">
            <a href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{- end -}}
      </ul>
    </div>
  </nav>
</div>
