$min_height: 700px;
$section_padding: 40px;

.home {
  margin-top: -60px;
}

/* home utility classes */
.home__full {
  min-height: 90vh;
}

.home__full, .home__block {
  box-sizing: border-box;
  padding: $section_padding 0;
  background-color: $background_color;
}

.img-bg {
  background-size: cover;
  background-position: center;

  &:not(.fixed) {
    margin: -$section_padding 0;
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
  }

  &.greyed {
    z-index: -1;

    &:not(.fixed) {
      position: relative;
    }

    * {
      z-index: 1;
    }

    &:before {
      content: "";
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.transparent {
  background-color: transparent;
}

.home__text {
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
}

.home__container {
  padding-left: 40px;
  padding-right: 40px;
}

.home__highlight {
  background-color: $primary_color;
}

@media (max-width: $mobile_width) {
  .home__full, .home__block {
    padding: $section_padding/2 0;
  }

  .img-bg:not(.fixed) {
    margin: -$section_padding/2 0;
  }
}

/* --------------------------------
  different sections in home page
  -------------------------------- */

/* title */
.home__title {
  position: relative;

  .cell {
    align-self: center;
  }

  p, img {
    text-align: center;
    width: fit-content;
    margin: auto;
    color: #fff;
    padding: 0 20px;
  }

  img {
    width: 100%;
    max-width: 780px;
    box-sizing: border-box;
  }

  p {
    font-size: 2.3rem;
    font-weight: 700;
  }
}

.home__title__pull-icon {
  position: absolute;
  bottom: -$section_padding;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;

  svg {
    margin: auto;
    z-index: 0;
  }
}

@media (max-width: $mobile_width) {
  .home__title__pull-icon {
    bottom: -($section_padding/2);
  }
}

@media (min-width: $mobile_width) {
  .home__title {
    h1 {
      font-size: 12rem;
    }

    p {
      font-size: 3rem;
    }
  }
}

/* stages */
.home__stages {
  justify-content: left;
}

.home__stages__item {
  margin-top: 30px;
  flex-basis: 33.33%;
  box-sizing: border-box;
}

@media (min-width: $tablet_width) {
  .home__stages__item .home__text {
    max-width: 32rem;
  }
}

/* slogan */
.home__slogan {
  justify-content: center;
}

/* goals */
.home__goals {
  margin-bottom: 0;

  li {
    display: block;
    margin-bottom: 20px;
  }
}

.home__goals__item {
}

.home__goals__num {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
  text-align: center;
  border: 3px $primary_color solid;
  border-radius: 100px;
  margin-right: 20px;
}

.home__highlight {
  .home__goals__num {
    border-color: #fff;
  }
}

/* contact us */
.home__contact {
  align-items: center;

  .buttons {
    margin: 20px 0;

    & > .flex {
      justify-content: center;

      .button {
        background-color: #fff;
        border: none;
        color: #222;
        padding: 0 30px;
        height: 42px;
        line-height: 42px;
        margin-right: 10px;
      }
    }
  }
}
