/* This is here so if we want to add js to transition
 * between floating and not floating it'd be possible
 */
.nav-wrapper.floating {
  height: 60px;
  .nav {
    position: fixed;
  }
}

.nav {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: $primary_color_nav;
  z-index: 10;

  a {
    color: inherit;
    text-decoration: none;
  }

}

.nav__home {
  font-size: 2rem;

  a {
    align-items: center;

    img {
      height: 30px;
    }

    span {
      padding-left: 10px;
    }
  }
}

.nav__pages {
  margin: 0;
}

.nav__pages__item {
  display: inline-block;
  margin: 0;
  padding-left: 10px;

  a {
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
  }

  &.active a {
    border-bottom: 2px solid #222;
  }
}
